##
# This file is managed with nginxconfig, and any manual edits will be overwritten
##
server {
        listen 80;
        listen [::]:80;

        listen 443 ssl;
        listen [::]:443 ssl;

        root {{root}};

        index index.html index.htm index.php;

        server_name {{server_name}};

        location / {
                try_files $uri $uri/ {{index_fallback}}=404;
        }

{{php}}

        location ~ /\.ht {
               deny all;
        }
}